
// COLOR VARIABLES

$deep-black: #1A1A1D;
$mid-red: #950740;
$high-red: #c3073f;
$mute-grey: #4E4E50;
$light-mute-grey: #6c757d;
$light-white: rgba(255, 255, 255, 0.712);

// FONTS 

$font-work-sans: 'https://fonts.googleapis.com/css?family=Work+Sans:200,300,600&display=swap';
$font-family-primary: 'Work Sans', sans-serif;

$font-weight-thin: 200;
$font-weight-regular: 300;
$font-weight-bold: 600;

// Project Images

$web-app-img : '/Graphics/images/web-dashboard.jpg';
$emp-dir-img : '/Graphics/images/employee-dir.jpg';
$photo-gal-img: '/Graphics/images/img-gallery.jpg';
$wheel-game-img: '/Graphics/images/wheel-success.jpg';
$webstyles-img: '/Graphics/images/web-styles.jpg';

// Image map

$project-img-map: (
    'web-app': $web-app-img,
    'emp-dir': $emp-dir-img,
    'photo-gal': $photo-gal-img,
    'wheel-game': $wheel-game-img,
    'web-styles': $webstyles-img,
)