.Header {
    display: block;
    padding: 2em 0;
    line-height: 1.2;
    flex-direction: column;
    font-size: 1.5em;
}

.Header_container {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column !important;
    align-items: center !important;
}

.Header_title {    
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
}