@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  background-image: url("../images/img-pattern-opt.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 ,h4 ,h5 ,h6 {
  color: #950740;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

h2{
  font-size: calc(1.5rem + 0.6vw);
  text-transform: uppercase;
}

h3 {
  font-size: calc(1.3rem + 0.6vw)
}

p {
  font-weight: 300;
  color: #020202;
  line-height: 1.5;
}    

.Layout_wrap {
  background-color: #ffffffa1;
}
