@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

html,
body {
    height: max-content;
}

body {
  background: linear-gradient(135deg, rgba(177,8,61,1) 0%, rgb(52, 38, 255) 100%);
  background-repeat: no-repeat;
}
  body::-webkit-scrollbar {
    display: none;
  }

h1, h2, h3 ,h4 ,h5 ,h6 {
  color: #fff;
  font-weight: 300;
  margin: 2rem 0;
}

h2{
  text-transform: uppercase;
}

h3 {
  font-size: 1.4vw;
}

p {
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
  margin: 1em 0;
}    

.Layout_wrap {
    background: transparent;
    padding-bottom: 25%;
}

