.Skills_container {  
    padding: 2em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 660px;
}

.Skills_title {
    font-size: 2em;
    font-weight: 600;
}


.Technologies_title,
.Tools_title { 
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1.2em;
}

.Technologies_container_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Technologies_img {
    height: 8vh;
    text-align: center;
    margin: .5em;
    vertical-align: middle;
    border-style: none;
}

.Tools_list {
    list-style: none;
    text-align: center;
}

.Tools_list_item {
    margin: .5em 0;
    color: #fff;
}