
.social-link {
    color: $mid-red;
    height: 2.4em;
    width: 2.4em;
    border: .5px solid $mid-red;
    border-radius: 50%;

    &:hover {
        color: $high-red;
        border-color: $high-red;
    }
}
